/* Estilos gerais */
.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%; /* A largura total da área centralizada */
}

/* Listagem de grupos */
.group-list {
  flex: 3; /* A maior parte da largura é dedicada à listagem de grupos */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px;
  padding-right: 20px;
}

/* Estilo dos itens do grupo */
.group-item {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.group-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.no-image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Controles de paginação */
.pagination-controls {
  text-align: center;
  margin: 20px 0;
}

.previous-page,
.next-page {
  margin: 5px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.previous-page:disabled,
.next-page:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo da coluna de publicidade */
.adsense-column {
  flex: 1; /* Menor espaço, dedicado à publicidade */
  background-color: #f1f1f1;
  padding: 20px;
  border-left: 1px solid #ddd;
  text-align: center;
}

.adsense-column h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Botão de rolar para o topo */
.scroll-to-top {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
/* Botão de rolar para o topo */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  display: none; /* Escondido por padrão */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Exibe o botão quando a classe 'visible' é adicionada */
.scroll-to-top.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efeito de hover para o botão */
.scroll-to-top:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
